html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: $fontFamilyBasic;
	font-size: clamp(16px, 3vh, 20px);
}

p {
	margin-bottom: 1rem;
	font-weight: 400;
	line-height: 1.65;
}

strong {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: $fontFamilyBasic;
	font-weight: $fontBold;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 1.802rem;

	@include desktop {
		font-size: 3rem;
	}

	@include largeDesktop {
		font-size: 4rem;
	}
}

h2 {
	margin-top: 0;
	font-size: 1.602rem;
}

h3 {
	font-size: 1.424rem;
}

h4 {
	font-size: 1.266rem;
}

h5 {
	font-size: 1.125rem;
}

small,
.text_small {
	font-size: 0.889rem;
}
